<h1>This is a test to see if you really know your "friend".</h1>
<h5>We're tired of people saying they are friends but they really know nothing about each other. We're bringing some integrity back to "friends".</h5>
<h3>Pass the test and you get accepted. Fail the test and you get nothing.</h3>

<% if user_signed_in? %>
	<%= link_to "New Friend Test", new_application_path %>
<% end %>

<br>

<br>

<div class="applications_index">
	<% @applications.each do |application| %>
		<ul>
			<li><%= link_to application.name, application %>
			<%= link_to application.description, application %></li>
	  </ul>
	<% end %>
</div>
