<h1><%= @application.name %></h1>
<h4><%= @application.description %></h4>
<h3>Questions</h3>
<ul>
	<%= @application.questions.each do |question| %>
		<li>
			<%= @question.question %>
		</li>
	<% end %>
</ul>
