<h1><%= @application.name %></h1>
<h4><i><%= @application.description %></i></h4>
<h3>Questions</h3>
<ul>
	<% @application.tests.each do |test| %>
		<li>
			<%= test.question + "?" %>
		</li>
	<% end %>
</ul>

<h6><%= link_to "Back", root_path %></h6>
